# Desafío - Introducción al ambiente de trabajo


### Desafío 1: Hola Mundo

In [1]:
print("Hola Mundo, esta es mi primera incursión en Python")

Hola Mundo, esta es mi primera incursión en Python

### Desafío 2: Ingreso de variables
Ingrese una serie de datos respecto a su información personal. Esta información debe estar
ingresada en variables para su posterior uso. Ingrese los siguientes datos:
<li>Su nombre.
<li>Edad.
<li>Una lista con sus 3 actividades favoritas.
<li>¿Tiene mascotas?

In [4]:
nombre= "Benjamín Meneses"
edad = 25
actividadesFavoritas = ["Comer", "Tirarme en el Pasto", "Jugar Computador"]
tieneMascota = False

### Desafío 3: Imprimiendo Variables
<li>Imprima cada variable creada.<ul><li>Acceda al segundo elemento de su lista</li></ul></li>
<li>Pida los tipos de datos asociados.</li>
<li>Interpole los datos en un método print para generar una presentación sobre usted.</li>

In [5]:
# Imprimir las variables
print(nombre)
print(edad)
print(actividadesFavoritas[1])
print(tieneMascota)

Benjamín Meneses
25
Tirarme en el Pasto
False

In [6]:
# Mostrar los tipos
print(type(nombre))
print(type(edad))
print(type(actividadesFavoritas[1]))
print(type(tieneMascota))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'bool'>

In [7]:
# Formatear un string de presentación
print("Soy " + nombre + " de " + str(edad) + " años, me gusta " + actividadesFavoritas[1] + " y " + ("tengo" if tieneMascota else "no tengo") + " mascota")

Soy Benjamín Meneses de 25 años, me gusta Tirarme en el Pasto y no tengo mascota

### Desafío 4 
A continuación se presenta una serie de códigos que generan errores. Corríjalos y comente
cuáles fueron las fallas.

<li><code>print('Estaba la pájara pinta sentada en el verde limón)</code>

Falta cerrar el string para que funcione

In [8]:
print('Estaba la pájara pinta sentada en el verde limón')

Estaba la pájara pinta sentada en el verde limón

<li><code>print('Mi nombre es' name 'y tengo' edad, 'años')</code></li>

El Formateo del string es incorrecto, es necesario usar algún tipo de operador o la función <code>.format()</code> para lograr el cometido

In [9]:
print('Mi nombre es {} y tengo {} años'.format(nombre, edad))

Mi nombre es Benjamín Meneses y tengo 25 años

<li><code>import padnas as pd</code></li>
<li><code>import nunnpy as np</code></li>

El nombre de las librerías es erróneo

In [1]:
import pandas as pd
import numpy as np

<li><code>"Ornitorrinco" + 45</code></li>

En python no se permite la suma de entre variables de tipo String e Integer. Se podría usar un conversor para pasar el numero a string

In [13]:
"Ornitorrinco" + str(45)

'Ornitorrinco45'

### Desafío 5: Utilizando pandas y numpy
<li>Importe <code>pandas</code> y <code>numpy</code>.
<li>Posteriormente importe el archivo <code>flights.csv</code>.
<li>Solicite las primeras y últimas 5 observaciones de la tabla de datos.
<li>Utilice <code>describe</code> para obtener las medidas univariadas de la columna year.
<li>Utilice <code>value_counts</code> para obtener la frecuencia de meses y años de la tabla.
<li>Guarde en variables las primeras y últimas 15 observaciones de la tabla.
<li>Solicite la media, mediana y desviación estándar de la cantidad de pasajeros
utilizando los métodos de <code>numpy</code>. Replique el procedimiento para las últimas y
primeras 15 observaciones. Comente brevemente los resultados.

In [3]:
# pandas y numpy fueron importados anteriormente
# import pandas as pd
# import numpy as np

# Importar archivo
df = pd.read_csv('../flights.csv')

# Conseguir las 5 primeras observaciones
df.head(5)

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [5]:
# Conseguir las medidas univariadas de la columna 'year'
df['year'].describe()

count     144.000000
mean     1954.500000
std         3.464102
min      1949.000000
25%      1951.750000
50%      1954.500000
75%      1957.250000
max      1960.000000
Name: year, dtype: float64

In [7]:
# Conseguir la frecuencia de meses
df['month'].value_counts()

March        12
February     12
July         12
September    12
November     12
May          12
January      12
October      12
December     12
April        12
June         12
August       12
Name: month, dtype: int64

In [9]:
# Conseguir la frecuencia de años
df['year'].value_counts()

1960    12
1959    12
1958    12
1957    12
1956    12
1955    12
1954    12
1953    12
1952    12
1951    12
1950    12
1949    12
Name: year, dtype: int64

In [12]:
# Guardar en variables las primeras y ultimas 15 observaciones
firstFifteen = df.head(15)
lastFifteen = df.tail(15)

In [21]:
# Conseguir la media, mediana y desviación estandar de una serie
def parseMeanMedianAndStd(serie):
    print('La media es {:.2f}, la mediana es {:.2f} y la desviación estandar es de {:.4f}'.format(np.mean(serie), np.median(serie), np.std(serie)))
    print('---0---')
    return
print('Considerando toda la muestra')
parseMeanMedianAndStd(df['passengers'])
print('Considerando las primeras 15 observaciones')
parseMeanMedianAndStd(firstFifteen['passengers'])
print('Considerando las últimas 15 observaciones')
parseMeanMedianAndStd(lastFifteen['passengers'])

Considerando toda la muestra
La media es 280.30, la mediana es 265.50 y la desviación estandar es de 119.5490
---0---
Considerando las primeras 15 observaciones
La media es 126.80, la mediana es 126.00 y la desviación estandar es de 12.6817
---0---
Considerando las últimas 15 observaciones
La media es 459.20, la mediana es 432.00 y la desviación estandar es de 75.2943
---0---

De lo obtenido anteriormente se puede concluir que a lo largo de los ~12 años que representa el dataset, la cantidad de pasajeros promedio subió a un poco mas que el triple desde el primer año al último año (pues el dataframe está ordenado). También se puede inferir debido a la desviación estandar, que en los primeros año la cantidad de pasajeros por mes era mas estable, no así en los ultimos años que se presenta una desviación mayor.