# Desafío - Control de Flujo


#### Desafio 1
Generar un par de arrays ficticios con numpy

In [16]:
import numpy as np

nuevoArray = np.linspace(1,50)
nuevoArraydos = np.linspace(50,150,101)
print(nuevoArray)
print(nuevoArraydos)

#### Desafio 2
Ejecute un loop que devuelva si el número en el primer array es par o impar

In [22]:
for num in nuevoArray:
    if np.mod(num,2) == 0:
        print(f'{num} es par')
    else:
        print(f'{num} es impar')

1.0 es impar
2.0 es par
3.0 es impar
4.0 es par
5.0 es impar
6.0 es par
7.0 es impar
8.0 es par
9.0 es impar
10.0 es par
11.0 es impar
12.0 es par
13.0 es impar
14.0 es par
15.0 es impar
16.0 es par
17.0 es impar
18.0 es par
19.0 es impar
20.0 es par
21.0 es impar
22.0 es par
23.0 es impar
24.0 es par
25.0 es impar
26.0 es par
27.0 es impar
28.0 es par
29.0 es impar
30.0 es par
31.0 es impar
32.0 es par
33.0 es impar
34.0 es par
35.0 es impar
36.0 es par
37.0 es impar
38.0 es par
39.0 es impar
40.0 es par
41.0 es impar
42.0 es par
43.0 es impar
44.0 es par
45.0 es impar
46.0 es par
47.0 es impar
48.0 es par
49.0 es impar
50.0 es par

#### Desafio 3
Genere un loop con el segundo array que cuente las siguientes condiciones:
<ul>
    <li>Si el número es divisible por 2 o 3.</li>
    <li>Si el número es divisible por 2 y 3.</li>
    <li>Si el número es divisible por 3 pero no por 2.</li>
    <li>si el número no es divisible por 2 ni 3.</li>
</ul>

In [24]:
for num in nuevoArraydos:
    if np.mod(num,2) == 0 and np.mod(num,3) == 0:
        print(f'{num} es divisible por 2 y 3')
    if np.mod(num,2) != 0 and np.mod(num,3) == 0:
        print(f'{num} es divisible por 3 pero no por 2')
    if np.mod(num,2) == 0 or and np.mod(num,3) == 0::
        print(f'{num} es divisible por 2 o 3')
    if np.mod(num,2) != 0 and np.mod(num,3) != 0:
        print(f'{num} no es divisible ni por 3 ni por 2')

51.0 es divisible por 3 pero no por 2
52.0 es divisible por 2
53.0 no es divisible ni por 3 ni por 2
54.0 es divisible por 2 y 3
55.0 no es divisible ni por 3 ni por 2
56.0 es divisible por 2
57.0 es divisible por 3 pero no por 2
58.0 es divisible por 2
59.0 no es divisible ni por 3 ni por 2
60.0 es divisible por 2 y 3
61.0 no es divisible ni por 3 ni por 2
62.0 es divisible por 2
63.0 es divisible por 3 pero no por 2
64.0 es divisible por 2
65.0 no es divisible ni por 3 ni por 2
66.0 es divisible por 2 y 3
67.0 no es divisible ni por 3 ni por 2
68.0 es divisible por 2
69.0 es divisible por 3 pero no por 2
70.0 es divisible por 2
71.0 no es divisible ni por 3 ni por 2
72.0 es divisible por 2 y 3
73.0 no es divisible ni por 3 ni por 2
74.0 es divisible por 2
75.0 es divisible por 3 pero no por 2
76.0 es divisible por 2
77.0 no es divisible ni por 3 ni por 2
78.0 es divisible por 2 y 3
79.0 no es divisible ni por 3 ni por 2
80.0 es divisible por 2
81.0 es divisible por 3 pero no por 2
82.0 es divisible por 2
83.0 no es divisible ni por 3 ni por 2
84.0 es divisible por 2 y 3
85.0 no es divisible ni por 3 ni por 2
86.0 es divisible por 2
87.0 es divisible por 3 pero no por 2
88.0 es divisible por 2
89.0 no es divisible ni por 3 ni por 2
90.0 es divisible por 2 y 3
91.0 no es divisible ni por 3 ni por 2
92.0 es divisible por 2
93.0 es divisible por 3 pero no por 2
94.0 es divisible por 2
95.0 no es divisible ni por 3 ni por 2
96.0 es divisible por 2 y 3
97.0 no es divisible ni por 3 ni por 2
98.0 es divisible por 2
99.0 es divisible por 3 pero no por 2
100.0 es divisible por 2
101.0 no es divisible ni por 3 ni por 2
102.0 es divisible por 2 y 3
103.0 no es divisible ni por 3 ni por 2
104.0 es divisible por 2
105.0 es divisible por 3 pero no por 2
106.0 es divisible por 2
107.0 no es divisible ni por 3 ni por 2
108.0 es divisible por 2 y 3
109.0 no es divisible ni por 3 ni por 2
110.0 es divisible por 2
111.0 es divisible por 3 pero no por 2
112.0 es divisible por 2
113.0 no es divisible ni por 3 ni por 2
114.0 es divisible por 2 y 3
115.0 no es divisible ni por 3 ni por 2
116.0 es divisible por 2
117.0 es divisible por 3 pero no por 2
118.0 es divisible por 2
119.0 no es divisible ni por 3 ni por 2
120.0 es divisible por 2 y 3
121.0 no es divisible ni por 3 ni por 2
122.0 es divisible por 2
123.0 es divisible por 3 pero no por 2
124.0 es divisible por 2
125.0 no es divisible ni por 3 ni por 2
126.0 es divisible por 2 y 3
127.0 no es divisible ni por 3 ni por 2
128.0 es divisible por 2
129.0 es divisible por 3 pero no por 2
130.0 es divisible por 2
131.0 no es divisible ni por 3 ni por 2
132.0 es divisible por 2 y 3
133.0 no es divisible ni por 3 ni por 2
134.0 es divisible por 2
135.0 es divisible por 3 pero no por 2
136.0 es divisible por 2
137.0 no es divisible ni por 3 ni por 2
138.0 es divisible por 2 y 3
139.0 no es divisible ni por 3 ni por 2
140.0 es divisible por 2
141.0 es divisible por 3 pero no por 2
142.0 es divisible por 2
143.0 no es divisible ni por 3 ni por 2
144.0 es divisible por 2 y 3
145.0 no es divisible ni por 3 ni por 2
146.0 es divisible por 2
147.0 es divisible por 3 pero no por 2
148.0 es divisible por 2
149.0 no es divisible ni por 3 ni por 2
150.0 es divisible por 2 y 3

#### Desafío 4
Correcciones de errores

In [71]:
for i in range(100):
    print(I**2)

NameError: name 'I' is not defined

El problema está en que se usa la variable en mayúsculas pero el itreador está en minúsculas

In [27]:
for i in range(100):
    print(i**2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801

#### Desafío 5
<ul>
    <li>Utilizando la misma base flights.csv hacer un loop y clasificar los meses con una
cantidad de pasajeros menor a la media</li>
</ul>

In [53]:
import pandas as pd

df = pd.read_csv('./flights.csv')
mean = df['passengers'].mean()

df['underperforming'] = 0

for idx, row in df.iterrows():
    if row['passengers'] < mean:
        df.at[idx,'underperforming'] = 1

df['underperforming'].value_counts()

1    80
0    64
Name: underperforming, dtype: int64

#### Desafio 6

Hacer un loop que clasifique los meses donde la cantidad de pasajeros se escapa de la
tendencia.

In [70]:
stdDev = df['passengers'].std()
mean = df['passengers'].mean()

df['outlier'] = 0
for idx, row in df.iterrows():
    if (row['passengers'] < (mean - stdDev)) or (row['passengers'] > (mean + stdDev)):
        df.at[idx, 'outlier'] = 1

df['outlier'].value_counts()

0    91
1    53
Name: outlier, dtype: int64



Según el output anterior, existen 53 registros que se pueden clasificar como extremos