# Desafío - Control de Flujo


### Desafio 1
Generar un par de arrays ficticios con <code>numpy</code>

In [1]:
import numpy as np
# Se usa linspace para generar los arreglos
nuevoArray = np.linspace(1,50)
nuevoArraydos = np.linspace(50,150,101)
print(nuevoArray)
print(nuevoArraydos)

[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18.
 19. 20. 21. 22. 23. 24. 25. 26. 27. 28. 29. 30. 31. 32. 33. 34. 35. 36.
 37. 38. 39. 40. 41. 42. 43. 44. 45. 46. 47. 48. 49. 50.]
[ 50.  51.  52.  53.  54.  55.  56.  57.  58.  59.  60.  61.  62.  63.
  64.  65.  66.  67.  68.  69.  70.  71.  72.  73.  74.  75.  76.  77.
  78.  79.  80.  81.  82.  83.  84.  85.  86.  87.  88.  89.  90.  91.
  92.  93.  94.  95.  96.  97.  98.  99. 100. 101. 102. 103. 104. 105.
 106. 107. 108. 109. 110. 111. 112. 113. 114. 115. 116. 117. 118. 119.
 120. 121. 122. 123. 124. 125. 126. 127. 128. 129. 130. 131. 132. 133.
 134. 135. 136. 137. 138. 139. 140. 141. 142. 143. 144. 145. 146. 147.
 148. 149. 150.]

### Desafio 2
Ejecute un loop que devuelva si el número en el primer array es par o impar

In [22]:
for num in nuevoArray:
    if np.mod(num,2) == 0:
        print(f'{num} es par')
    else:
        print(f'{num} es impar')

1.0 es impar
2.0 es par
3.0 es impar
4.0 es par
5.0 es impar
6.0 es par
7.0 es impar
8.0 es par
9.0 es impar
10.0 es par
11.0 es impar
12.0 es par
13.0 es impar
14.0 es par
15.0 es impar
16.0 es par
17.0 es impar
18.0 es par
19.0 es impar
20.0 es par
21.0 es impar
22.0 es par
23.0 es impar
24.0 es par
25.0 es impar
26.0 es par
27.0 es impar
28.0 es par
29.0 es impar
30.0 es par
31.0 es impar
32.0 es par
33.0 es impar
34.0 es par
35.0 es impar
36.0 es par
37.0 es impar
38.0 es par
39.0 es impar
40.0 es par
41.0 es impar
42.0 es par
43.0 es impar
44.0 es par
45.0 es impar
46.0 es par
47.0 es impar
48.0 es par
49.0 es impar
50.0 es par

#### Desafio 3
Genere un loop con el segundo array que cuente las siguientes condiciones:
<ul>
    <li>Si el número es divisible por 2 o 3.</li>
    <li>Si el número es divisible por 2 y 3.</li>
    <li>Si el número es divisible por 3 pero no por 2.</li>
    <li>si el número no es divisible por 2 ni 3.</li>
</ul>

In [6]:
for num in nuevoArraydos:
    if np.mod(num,2) == 0 and np.mod(num,3) == 0:
        print(f'{num} es divisible por 2 y 3')
        continue
    if np.mod(num,2) != 0 and np.mod(num,3) == 0:
        print(f'{num} es divisible por 3 pero no por 2')
        continue
    if np.mod(num,2) == 0 or np.mod(num,3) == 0:
        print(f'{num} es divisible por 2 o 3')
        continue
    if np.mod(num,2) != 0 and np.mod(num,3) != 0:
        print(f'{num} no es divisible ni por 3 ni por 2')

50.0 es divisible por 2 o 3
51.0 es divisible por 3 pero no por 2
52.0 es divisible por 2 o 3
53.0 no es divisible ni por 3 ni por 2
54.0 es divisible por 2 y 3
55.0 no es divisible ni por 3 ni por 2
56.0 es divisible por 2 o 3
57.0 es divisible por 3 pero no por 2
58.0 es divisible por 2 o 3
59.0 no es divisible ni por 3 ni por 2
60.0 es divisible por 2 y 3
61.0 no es divisible ni por 3 ni por 2
62.0 es divisible por 2 o 3
63.0 es divisible por 3 pero no por 2
64.0 es divisible por 2 o 3
65.0 no es divisible ni por 3 ni por 2
66.0 es divisible por 2 y 3
67.0 no es divisible ni por 3 ni por 2
68.0 es divisible por 2 o 3
69.0 es divisible por 3 pero no por 2
70.0 es divisible por 2 o 3
71.0 no es divisible ni por 3 ni por 2
72.0 es divisible por 2 y 3
73.0 no es divisible ni por 3 ni por 2
74.0 es divisible por 2 o 3
75.0 es divisible por 3 pero no por 2
76.0 es divisible por 2 o 3
77.0 no es divisible ni por 3 ni por 2
78.0 es divisible por 2 y 3
79.0 no es divisible ni por 3 ni por 2
80.0 es divisible por 2 o 3
81.0 es divisible por 3 pero no por 2
82.0 es divisible por 2 o 3
83.0 no es divisible ni por 3 ni por 2
84.0 es divisible por 2 y 3
85.0 no es divisible ni por 3 ni por 2
86.0 es divisible por 2 o 3
87.0 es divisible por 3 pero no por 2
88.0 es divisible por 2 o 3
89.0 no es divisible ni por 3 ni por 2
90.0 es divisible por 2 y 3
91.0 no es divisible ni por 3 ni por 2
92.0 es divisible por 2 o 3
93.0 es divisible por 3 pero no por 2
94.0 es divisible por 2 o 3
95.0 no es divisible ni por 3 ni por 2
96.0 es divisible por 2 y 3
97.0 no es divisible ni por 3 ni por 2
98.0 es divisible por 2 o 3
99.0 es divisible por 3 pero no por 2
100.0 es divisible por 2 o 3
101.0 no es divisible ni por 3 ni por 2
102.0 es divisible por 2 y 3
103.0 no es divisible ni por 3 ni por 2
104.0 es divisible por 2 o 3
105.0 es divisible por 3 pero no por 2
106.0 es divisible por 2 o 3
107.0 no es divisible ni por 3 ni por 2
108.0 es divisible por 2 y 3
109.0 no es divisible ni por 3 ni por 2
110.0 es divisible por 2 o 3
111.0 es divisible por 3 pero no por 2
112.0 es divisible por 2 o 3
113.0 no es divisible ni por 3 ni por 2
114.0 es divisible por 2 y 3
115.0 no es divisible ni por 3 ni por 2
116.0 es divisible por 2 o 3
117.0 es divisible por 3 pero no por 2
118.0 es divisible por 2 o 3
119.0 no es divisible ni por 3 ni por 2
120.0 es divisible por 2 y 3
121.0 no es divisible ni por 3 ni por 2
122.0 es divisible por 2 o 3
123.0 es divisible por 3 pero no por 2
124.0 es divisible por 2 o 3
125.0 no es divisible ni por 3 ni por 2
126.0 es divisible por 2 y 3
127.0 no es divisible ni por 3 ni por 2
128.0 es divisible por 2 o 3
129.0 es divisible por 3 pero no por 2
130.0 es divisible por 2 o 3
131.0 no es divisible ni por 3 ni por 2
132.0 es divisible por 2 y 3
133.0 no es divisible ni por 3 ni por 2
134.0 es divisible por 2 o 3
135.0 es divisible por 3 pero no por 2
136.0 es divisible por 2 o 3
137.0 no es divisible ni por 3 ni por 2
138.0 es divisible por 2 y 3
139.0 no es divisible ni por 3 ni por 2
140.0 es divisible por 2 o 3
141.0 es divisible por 3 pero no por 2
142.0 es divisible por 2 o 3
143.0 no es divisible ni por 3 ni por 2
144.0 es divisible por 2 y 3
145.0 no es divisible ni por 3 ni por 2
146.0 es divisible por 2 o 3
147.0 es divisible por 3 pero no por 2
148.0 es divisible por 2 o 3
149.0 no es divisible ni por 3 ni por 2
150.0 es divisible por 2 y 3

### Desafío 4
Correcciones de errores

In [71]:
for i in range(100):
    print(I**2)

NameError: name 'I' is not defined

El problema está en que se usa la variable en mayúsculas pero el iterador está en minúsculas

In [27]:
for i in range(100):
    print(i**2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801

### Desafío 5
<ul>
    <li>Utilizando la misma base <code>flights.csv</code> hacer un loop y clasificar los meses con unacantidad de pasajeros menor a la media</li>
    <li>Para ello, generen un nuevo objeto que represente la media de <code>passengers</code>.</li>
    <li>Generen una columna en la base de datos que se llame <code>underperforming</code> y asígnele 0.</li>
    <li>Ejecuten un loop que recorra cada observación de <code>passengers</code>, donde si la
observación es menor a la media de <code>passengers</code> se le asigne a <code>underperforming</code>
un 1.</li>
    <li>Para asignar unos en la columna <code>underperforming</code> ya creada, para ello utilice la
función <code>at</code> de pandas.
</li>
</ul>

In [53]:
import pandas as pd
# Importar el dataframe
df = pd.read_csv('./flights.csv')
# Guardar la media en una variable
mean = df['passengers'].mean()
# Crear la columna en el dataframe y asignarle 0
df['underperforming'] = 0
# Recorrer el dataframe
for idx, row in df.iterrows():
    # Marcar aquellos registros que presentan un valor menor a la media
    if row['passengers'] < mean:
        df.at[idx,'underperforming'] = 1
# Mostrar la frecuencia de 'underperforming'
df['underperforming'].value_counts()

1    80
0    64
Name: underperforming, dtype: int64

### Desafio 6

Hacer un loop que clasifique los meses donde la cantidad de pasajeros se escapa de la
tendencia.
<li>Para ello, genere dos objetos que guarden la media general y la desviación estándar
general de passengers.</li>
<li>Genere una nueva columna en la tabla de datos que se llame outlier y asignele 0.</li>
<li>Ejecuten un loop que recorra cada observación de passengers, donde si la
observación se escapa de la tendencia sea 1, de lo contrario 0.</li>
<li>
    Para clasificar los casos que se escapen la tendencia, la observación debe satisfacer una de las siguientes condiciones:
    <ul>
        <li>La observación debe ser menor a la media menos la desviación estándar, 𝝈.</li>
        <li>La observación debe ser mayor a la media más la desviación estándar.</li>
        <li>¿Cuántas observaciones se pueden clasificar como casos extremos?</li>
    </ul>
</li>

In [70]:
stdDev = df['passengers'].std()
mean = df['passengers'].mean()

df['outlier'] = 0
for idx, row in df.iterrows():
    if (row['passengers'] < (mean - stdDev)) or (row['passengers'] > (mean + stdDev)):
        df.at[idx, 'outlier'] = 1

df['outlier'].value_counts()

0    91
1    53
Name: outlier, dtype: int64



Según el output anterior, existen 53 registros que se pueden clasificar como extremos